/*****************************
****David Jensen's Github playground styling
****Author: David Jensen
****Date: 8-13-14
******************************/


/*****************************
****Index Page Styling
******************************/


/*****************************
****Stock Exchange (jQuery version) Page Styling
******************************/

header{
	h1{
		float: left;
	}
	.searchBox{
		float: right;
		margin-top: 20px;
	}
}
.leftSide{
	width: 48%;
	clear: left;
	float: left;
	margin-right: 20px;
	header{
		height: 40px;
		width: 98%;
		span{
			margin-top:10px;
			font-size: 1.2em;
		}
	}
	header,
	div{
		border: 1px solid black;
		p{
			text-align: center;
		}
	}
	span{
		display: inline-block;
		text-align: center;
	}
	.bidHeader{
		margin-left: 100px;
	}
	.askHeader{
		float: right;
		margin-right: 100px;
	}
	div{
		width: 49%;
		float: left;
		margin-bottom: 20px;
	}
}

.rightSide{
	width: 49%;
	float: right;
	h1{
		float: left;
	}
	h3{
		float: right;
	}
	header{
		height: 40px;
		clear: both;
		:first-child{
			margin-left: 20px;
		}
		span{
			font-size: 1.2em;
			margin-right: 42px;
			margin-top: 10px;
			width: 25%;
		}
	}
	div{
		width: 25%;
		float: left;
		min-height: 52px;	
	}
	header,
	div{
		border: 1px solid black;
		p{
			text-align: center;
		}
	}
	.sellStocksButton{
		margin: 15px 33px;
	}
	.amountToSell{
		width: 90%;
		margin: 15px 0 0 5px;
	}

}
.version{
		clear: both;
		text-align: center;
}



/*****************************
****Angular Stock Exchange Page Styling
******************************/


/*****************************
****CheckBox Test Page Styling
******************************/

form{
	width: 50%;
	float: left;
}

.form-group{
	label{
		input{
			margin-right: 10px;
		}
	}
}

.selected{
	color: green;
}

.results{
	width: 50%;
	float: left;
}